:root {
    --font-color: #ffffff;
    --button-color: rgb(230, 158, 14);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 4, 24);
}

body {
    height: 100vh;
    background:linear-gradient(180deg, rgb(72, 27, 127) 60%, rgb(100, 100, 201));
    background-image: url(./cage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--font-color);
    font-family: 'Oswald';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 40%;
    background-color: rgba(0, 5, 24, 0.721);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

img {
    max-width: 500px;
    margin: 20px;
    border-radius: 15px;
}

header {
    border: 2px double rgb(246, 222, 90);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 80px;
}

.text-container {
    padding: 20px;
}

.text {
    font-size: 50px;
}

.button-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    border: 4px solid rgb(221, 220, 220);
    box-shadow: 10px 5px 5px #111e;
    border-radius: 15px;
    padding: 24px;
    min-width: 200px;
    background: linear-gradient(60deg, rgb(246, 222, 90) 40%, rgb(255, 128, 0));
    font-size: 24px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

button:hover {
    border: 4px solid white;
    color: white;
    background:linear-gradient(60deg, rgb(12, 135, 207) 60%, darkblue);
}

.scores-container {
    display: flex;
    gap: 50px;
}

.score {
    font-size: 40px;
}